Room List
<table class="table">
    <tr>
        <th>Index</th>
        <th>Roomstype </th>
        <th>Checkintime</th>
        <th>Checkout</th>
        <th>Cost</th>
        <th>Select Room</th>

    </tr>
    <tr *ngFor="let room of roombind let i=  index">
       <td>{{i}}</td>
        <td>{{room.roomstype}}</td>
        <td>{{room.checkintime | date}}</td>
        <td>{{room.checkout | date}}</td>
        <td>{{room.cost}}</td>
        <td>
            <button class="btn btn-primary" (click)="SelectRoom(room)">Select
            </button>
        </td>
    </tr>
</table>